@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap'); /* JALDI 700 títulos y encabezados */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap'); /* JALDI 400 párrafos */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); /* QUICKSAND 400 botones */


#lokl-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mi-espacio{
    margin: 20px;
}
.container{
    border: solid black;
    margin: 20px;
}

#especial2 {
    margin: 30px;
    padding: 15px;
    background-color: #732796;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    font-weight: bold;

}
#especial2 > a{
text-decoration: none;
color: white;
}

.imagen__simulada{
    width: 100%;
    height: auto;

    /* Estos son los estilos para las imagenes */
    background-image: url(../assets/multimedia/loklBack.JPG);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#tarjetasGuardadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto; 
}


.card {
    margin: 10px; /* Añade un pequeño margen entre las tarjetas */
}


/*desaparecer boton de mas información y de guardar en mi Lokl*/

.btn-primary, #guardarTarjeta {
    display:none !important;

}

.titulo_miespacio{
    text-align: center;
    margin: 2px;
    font-size: 50px;
    color: #732796;
}

.botones-dos{
    display: flex; 
    justify-content: center;
}


/*estilo del boton eliminar*/
.especial2{
    background-color: #732796;
    color: #f9f9f9;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-family: "Jaldi", sans-serif !important;
    transition: transform 0.3s; 
  }
  
  .especial2:hover {
    transform: scale(1.1); 
  }
  


.box{
    font-size: 20px;
}

/*media queries*/

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
    }
}